.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form{ 
  margin-top: 100px;
}

.logon-container section.form form h1{ 
  font-size: 32px;
  margin-bottom: 32px;
}

.logon-container .logo {
  width: 100%;
}

.logon-container .hero {
  width: 100%;
}

@media (max-width: 906px) {
  .logon-container section.form form {
    margin-top: 80px;
  }

  .logon-container .logo {
    width: 58%;
  }

  .logon-container .hero {
    width: 58%;
  }
}

@media (max-width: 750px) {
  .logon-container section.form form {
    margin-top: 48px;
  }

  .logon-container .logo {
    width: 50%;
  }

  .logon-container .hero {
    width: 50%;
  }
}

@media (max-width: 620px) {
  .logon-container {
    justify-content: center;
  }

  .logon-container section.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logon-container .logo {
    width: 60%;
  }

  .logon-container .hero {
    display: none;
  }
}
